# App Settings
SECRET_KEY=your_super_secret_random_string_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database
MONGO_URL=mongodb://db:27017
DB_NAME=minitasks

# AI Bonus
GOOGLE_API_KEY=your_gemini_key_here

# CORS
ALLOWED_ORIGINS=http://localhost:3000